json_do_nodered.json
[
    {
        "id": "7fad5c038b9eded9",
        "type": "tab",
        "label": "RECEBO DADOS POTECIOMETRO",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "334817a0b39eae52",
        "type": "debug",
        "z": "7fad5c038b9eded9",
        "name": "recebendo_dados_do_potenciometro",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "6c3606fc9f8fc5bc",
        "type": "mqtt in",
        "z": "7fad5c038b9eded9",
        "name": "minha_conexao_mqtt",
        "topic": "public_pot_jon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "170a626829f6883c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "334817a0b39eae52",
                "5c559ab446c4bb3f",
                "61b0ed792643b1c7"
            ]
        ]
    },
    {
        "id": "5c559ab446c4bb3f",
        "type": "range",
        "z": "7fad5c038b9eded9",
        "minin": "0",
        "maxin": "4095",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "intervalo_pot",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "ed502349c8de270c",
                "b0154b6bf9cfbfdd",
                "9b44ed39070635d6"
            ]
        ]
    },
    {
        "id": "61b0ed792643b1c7",
        "type": "function",
        "z": "7fad5c038b9eded9",
        "name": "potencimetro_insert",
        "func": "var valor = msg.payload;\nmsg.topic = \"INSERT INTO potenciometro (valor_potenciometro) VALUES (\"+valor+\")\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 240,
        "wires": [
            [
                "29121fd29ba2b8b4"
            ]
        ]
    },
    {
        "id": "29121fd29ba2b8b4",
        "type": "mysql",
        "z": "7fad5c038b9eded9",
        "mydb": "de155ca94d5bba13",
        "name": "meu_banco",
        "x": 730,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b0154b6bf9cfbfdd",
        "type": "ui_text",
        "z": "7fad5c038b9eded9",
        "group": "92af503c5d8907b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Teste_Wokwi",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "ed502349c8de270c",
        "type": "ui_gauge",
        "z": "7fad5c038b9eded9",
        "name": "",
        "group": "92af503c5d8907b9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Medidor",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "9b44ed39070635d6",
        "type": "ui_chart",
        "z": "7fad5c038b9eded9",
        "name": "",
        "group": "92af503c5d8907b9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Grafico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "170a626829f6883c",
        "type": "mqtt-broker",
        "name": "meu_mosquito",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "de155ca94d5bba13",
        "type": "MySQLdatabase",
        "name": "teste_iot",
        "host": "shuttle.proxy.rlwy.net",
        "port": "28743",
        "db": "banco_de_dados_iot_teste",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "92af503c5d8907b9",
        "type": "ui_group",
        "name": "Grupo_Potenciometro",
        "tab": "5841daf3d5d631b2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5841daf3d5d631b2",
        "type": "ui_tab",
        "name": "Home_Potenciometro",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]